
@{
    Layout = null;

    ViewData["Title"] = "EditResume";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="M_Adnan" />
    <!-- Document Title -->
    <title>Resume / CV HTML5 Template</title>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />

    <!-- FontsOnline -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900"
          rel="stylesheet" />
    <!-- JavaScripts -->
    <script src="~/assets/js/vendors/modernizr.js"></script>

    <script src="https://kit.fontawesome.com/cf7085364a.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Page Wrapper -->
    <div id="wrap">

        <!-- Header -->
        <header> </header>
        <!-- End Header -->
        <!-- Content -->
        <div id="content" class="resune-edit">
            <div class="resume">
                <div class="container">

                    <!-- TOP HEAD -->
                    <div class="top-head">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Resume </h4>
                                <a href="#.">Edit Resume</a>
                            </div>
                        </div>
                    </div>

                    <!-- Resume -->
                    <div class="row">

                        <!-- Sidebar -->
                        <div class="col-md-4">
                            <div class="side-bar">

                                <!-- Professional Details -->
                                <h5 class="tittle">Professional Details</h5>
                                <label class="btn-file">
                                    <i class="fa fa-camera"></i> Click to add diploma
                                    <input type="file" style="display: none;">
                                </label>
                                <form>
                                    <ul class="personal-info">
                                        <li>
                                            <p>
                                                <span>
                                                    <input class="form-control" type="text" placeholder="Title">
                                                </span>
                                                <input class="form-control" type="text" placeholder="Title">
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span>
                                                    <input class="form-control" type="text" placeholder="Title">
                                                </span>
                                                <input class="form-control" type="text" placeholder="Title">
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span>
                                                    <input class="form-control" type="text" placeholder="Title">
                                                </span>
                                                <input class="form-control" type="text" placeholder="Title">
                                            </p>
                                        </li>
                                        <li> <a href="#" class="btn"><i class="fa fa-plus"></i> ADD INFO</a> </li>
                                    </ul>
                                </form>

                                <!-- Attachments -->
                                <h5 class="tittle">Attachments</h5>
                                <div class="attach bor-btm padding-25">
                                    <ul>
                                        <li>
                                            <p><img src="images/pdf-icon.jpg" alt=""> Curriculum-Vitae.pdf <a href="#."><i class="fa fa-cloud-download"></i></a> <a href="#."><i class="fa fa-eye"></i></a></p>
                                        </li>
                                        <li>
                                            <p><img src="images/word-icon.jpg" alt=""> COE.docx <a href="#."><i class="fa fa-cloud-download"></i></a> <a href="#."><i class="fa fa-eye"></i></a></p>
                                        </li>
                                    </ul>
                                    <p>
                                        <span>
                                            <input class="form-control" type="text" placeholder="Title">
                                        </span>
                                    </p>
                                    <a href="#" class="btn"><i class="fa fa-plus"></i> Add Attachment</a>
                                </div>

                                <!-- Social Profiles -->
                                <h5 class="tittle">Social Profiles</h5>
                                <div class="social-icon bor-btm padding-25">
                                    <ul>
                                        <li>
                                            <i class="fa fa-facebook"></i>
                                            <input class="form-control" type="text" placeholder="facebook.com/billgates">
                                        </li>
                                        <li>
                                            <i class="fa fa-twitter"></i>
                                            <input class="form-control" type="text" placeholder="twitter.com/billgates">
                                        </li>
                                        <li>
                                            <i class="fa fa-google-plus"></i>
                                            <input class="form-control" type="text" placeholder="google.com/billgates">
                                        </li>
                                        <li>
                                            <i class="fa fa-linkedin"></i>
                                            <input class="form-control" type="text" placeholder="linkedin.com/billgates">
                                        </li>
                                        <li>
                                            <i class="fa fa-dribbble"></i>
                                            <input class="form-control" type="text" placeholder="dribbble.com/billgates">
                                        </li>
                                        <li>
                                            <i class="fa fa-behance"></i>
                                            <input class="form-control" type="text" placeholder="behance.com/billgates">
                                        </li>
                                        <li>
                                            <i class="fa fa-stumbleupon"></i>
                                            <input class="form-control" type="text" placeholder="stumbleupon.com/billgates">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- MAIN CONTENT -->
                        <div class="col-md-8">
                            <div class="inside-sec">
                                <!-- BIO AND SKILLS -->
                                <h5 class="tittle">Bio & Skills</h5>
                                <div class="bio-info padding-30">
                                    <textarea  class="form-control" placeholder="Write your description here"></textarea>
                                    <div class="skills margin-top-50">

                                        <!-- SKILLS -->
                                        <h6>Add A Skill</h6>

                                        <!-- Sound Engineering -->
                                        <div class="row">

                                            <!-- Categories -->
                                            <div class="col-sm-6">
                                                <select class="selectpicker">
                                                    <option> All Categories</option>
                                                    <option>Web Design</option>
                                                    <option>Development</option>
                                                </select>
                                                <span class="add-custm">or <a href="#."> Add A Custom Category</a></span>
                                            </div>

                                            <!--  Skills -->
                                            <div class="col-sm-6">
                                                <select class="selectpicker">
                                                    <option>Skills</option>
                                                    <option>HTML5 CSS3</option>
                                                    <option>Photoshop</option>
                                                </select>
                                                <span class="add-custm">or <a href="#."> Add A Custom Skills</a></span>
                                            </div>
                                        </div>

                                        <!-- Disply Type -->
                                        <div class="disply-type">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="inlineRadio1" value="option1" name="radioInline">
                                                        <label for="inlineRadio1"> Display As Bar </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="inlineRadio2" value="option1" name="radioInline">
                                                        <label for="inlineRadio2"> Display As Tag </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Skill Info -->
                                        <div class="skill-type-info">
                                            <label>
                                                Skill Level
                                                <input type="text" class="form-control" placeholder="0">
                                            </label>
                                            <label>
                                                Skill Description
                                                <textarea class="form-control" placeholder=""></textarea>
                                            </label>
                                        </div>
                                        <!-- ADD MORE-->
                                        <a href="#" class="btn"><i class="fa fa-plus"></i> Add Skill</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Professional Experience -->
                            <div class="inside-sec margin-top-30">
                                <!-- Professional Experience -->
                                <h5 class="tittle">Professional Experience</h5>
                                <div class="padding-30 exp-history">

                                    <!-- Wordpress Developer -->
                                    <div class="exp">
                                        <div class="media-left"> <span class="sun">2002 - 2008</span> </div>
                                        <div class="media-body">

                                            <!-- Company Logo -->
                                            <div class="company-logo">
                                                <img src="images/company-logo-1.jpg" alt="">

                                                <!-- Edit Del -->
                                                <div class="edit-del"> <a href="#." class="edit"><i class="fa fa-edit"></i></a> <a href="#." class="del"><i class="fa fa-trash-o"></i></a> </div>
                                            </div>
                                            <h6>Wordpress Developer</h6>
                                            <p>Market Network</p>
                                            <p>San Francisco, California, USA</p>
                                            <p class="margin-top-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam (...) <a href="#.">Read More</a> </p>
                                        </div>
                                    </div>

                                    <!-- html5 and css3 Developer -->
                                    <div class="exp">
                                        <div class="media-left"> <span class="sun">2009 - 2016</span> </div>
                                        <div class="media-body">

                                            <!-- Company Logo -->
                                            <div class="company-logo">
                                                <img src="images/company-logo-2.jpg" alt="">

                                                <!-- Edit Del -->
                                                <div class="edit-del"> <a href="#." class="edit"><i class="fa fa-edit"></i></a> <a href="#." class="del"><i class="fa fa-trash-o"></i></a> </div>
                                            </div>
                                            <h6>html5 and css3 Developer</h6>
                                            <p>Market Network</p>
                                            <p>San Francisco, California, USA</p>
                                            <p class="margin-top-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam (...) <a href="#.">Read More</a> </p>
                                        </div>
                                    </div>

                                    <!-- ADD Professional -->
                                    <div class="exp">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <label>
                                                    Duration
                                                    <input type="text" class="form-control" placeholder="YYYY - YYYY">
                                                </label>
                                                <label>
                                                    Job Title
                                                    <input type="text" class="form-control" placeholder="">
                                                </label>
                                                <label>
                                                    Company Name
                                                    <input type="text" class="form-control" placeholder="">
                                                </label>
                                                <label>
                                                    Location
                                                    <input type="text" class="form-control" placeholder="">
                                                </label>
                                            </div>

                                            <!-- UPLOAD IMG -->
                                            <div class="col-sm-5">
                                                <label class="btn-file">
                                                    <i class="fa fa-camera"></i> Click to attach logo
                                                    <input type="file" style="display: none;">
                                                </label>
                                            </div>

                                            <!-- ADD DETAILS -->
                                            <div class="col-sm-12">
                                                <label>
                                                    Details
                                                    <textarea class="form-control" placeholder=""></textarea>
                                                </label>
                                                <!-- ADD MORE-->
                                                <a href="#" class="btn margin-top-20"><i class="fa fa-plus"></i> Add Experience</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Academic Background -->
                            <div class="inside-sec margin-top-30">
                                <!-- Academic Background -->
                                <h5 class="tittle">Academic Background</h5>
                                <div class="padding-30 exp-history">

                                    <!-- ADD EXP -->
                                    <div class="exp">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <label>
                                                    Qualification
                                                    <input type="text" class="form-control" placeholder="YYYY - YYYY">
                                                </label>
                                                <label>
                                                    Degree
                                                    <input type="text" class="form-control" placeholder="">
                                                </label>
                                                <label>
                                                    Institute / University Name
                                                    <input type="text" class="form-control" placeholder="">
                                                </label>
                                                <label>
                                                    Year of Obtention
                                                    <input type="text" class="form-control" placeholder="">
                                                </label>
                                            </div>

                                            <!-- UPLOAD IMG -->
                                            <div class="col-sm-5">
                                                <label class="btn-file">
                                                    <i class="fa fa-camera"></i> Click to add diploma
                                                    <input type="file" style="display: none;">
                                                </label>
                                            </div>

                                            <!-- ADD DETAIL -->
                                            <div class="col-sm-12">
                                                <label>
                                                    Details
                                                    <textarea class="form-control" placeholder=""></textarea>
                                                </label>
                                                <!-- ADD MORE -->
                                                <a href="#" class="btn margin-top-20"><i class="fa fa-plus"></i> Add Experience</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Save Info -->
                            <div class="save-info"> <a href="#." class="btn">Cancel</a> <a href="#." class="btn">Save Settings</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content -->
        <!-- Footer -->
        <footer class="footer">
            <div class="rights">
                <p>© Copyright 2016 MotiCV. All right reserved.</p>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- End Page Wrapper -->
    <!-- JavaScripts -->
    <script src="~/assets/js/vendors/jquery/jquery.min.js"></script>
    <script src="~/assets/js/vendors/bootstrap.min.js"></script>
    <script src="~/assets/js/vendors/owl.carousel.min.js"></script>
    <script src="~/assets/js/vendors/jquery.isotope.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
